GreenLifeLine_NonBlend/GreenLifeLine_NonBlend/Service References/EmsSyndicator/EmsSyndicatorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://web.syndication.ems.com/" targetNamespace="http://web.syndication.ems.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DAOException" type="tns:DAOException" />
  <xs:element name="cameras" type="tns:cameras" />
  <xs:element name="camerasResponse" type="tns:camerasResponse" />
  <xs:element name="getAllSensorRanges" type="tns:getAllSensorRanges" />
  <xs:element name="getAllSensorRangesResponse" type="tns:getAllSensorRangesResponse" />
  <xs:element name="getCurrentData" type="tns:getCurrentData" />
  <xs:element name="getCurrentDataResponse" type="tns:getCurrentDataResponse" />
  <xs:element name="getCurrentSensorRanges" type="tns:getCurrentSensorRanges" />
  <xs:element name="getCurrentSensorRangesForEnvironment" type="tns:getCurrentSensorRangesForEnvironment" />
  <xs:element name="getCurrentSensorRangesForEnvironmentResponse" type="tns:getCurrentSensorRangesForEnvironmentResponse" />
  <xs:element name="getCurrentSensorRangesResponse" type="tns:getCurrentSensorRangesResponse" />
  <xs:element name="getDataCaptureData" type="tns:getDataCaptureData" />
  <xs:element name="getDataCaptureDataResponse" type="tns:getDataCaptureDataResponse" />
  <xs:element name="getDataCapturers" type="tns:getDataCapturers" />
  <xs:element name="getDataCapturersResponse" type="tns:getDataCapturersResponse" />
  <xs:element name="getDomains" type="tns:getDomains" />
  <xs:element name="getDomainsResponse" type="tns:getDomainsResponse" />
  <xs:element name="getEnvironments" type="tns:getEnvironments" />
  <xs:element name="getEnvironmentsResponse" type="tns:getEnvironmentsResponse" />
  <xs:element name="helloWorld" type="tns:helloWorld" />
  <xs:element name="helloWorldResponse" type="tns:helloWorldResponse" />
  <xs:element name="login" type="tns:login" />
  <xs:element name="loginResponse" type="tns:loginResponse" />
  <xs:element name="measurements" type="tns:measurements" />
  <xs:element name="measurementsResponse" type="tns:measurementsResponse" />
  <xs:element name="noteTakers" type="tns:noteTakers" />
  <xs:element name="noteTakersResponse" type="tns:noteTakersResponse" />
  <xs:element name="notes" type="tns:notes" />
  <xs:element name="notesResponse" type="tns:notesResponse" />
  <xs:element name="sensorChannels" type="tns:sensorChannels" />
  <xs:element name="sensorChannelsResponse" type="tns:sensorChannelsResponse" />
  <xs:element name="snapShots" type="tns:snapShots" />
  <xs:element name="snapShotsResponse" type="tns:snapShotsResponse" />
  <xs:complexType name="cameras">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="camerasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:camera" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="camera">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aCaptureData">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="aCaptureData" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aDescription">
        <xs:sequence>
          <xs:element minOccurs="0" name="captureDataType" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="aDescription" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aIdentifer">
        <xs:sequence>
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="aIdentifer" abstract="true">
    <xs:sequence>
      <xs:element name="id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllSensorRanges">
    <xs:sequence>
      <xs:element minOccurs="0" name="a_iCaptureData" type="tns:aCaptureData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllSensorRangesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:sensorRange" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sensorRange">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aDescription">
        <xs:sequence>
          <xs:element minOccurs="0" name="minThreshold" type="xs:double" />
          <xs:element minOccurs="0" name="maxThreshold" type="xs:double" />
          <xs:element name="sensorId" type="xs:long" />
          <xs:element name="sensorChannelNum" type="xs:int" />
          <xs:element name="priority" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="notes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="notesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:note" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="note">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aData">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="author" type="tns:user" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="aData" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aIdentifer">
        <xs:sequence>
          <xs:element name="mesurementDate" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="user">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aIdentifer">
        <xs:sequence>
          <xs:element minOccurs="0" name="username" type="xs:string" />
          <xs:element minOccurs="0" name="currentToken" type="xs:string" />
          <xs:element minOccurs="0" name="userType" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="helloWorld">
    <xs:sequence>
      <xs:element minOccurs="0" name="a_name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloWorldResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDataCapturers">
    <xs:sequence>
      <xs:element minOccurs="0" name="a_environment" type="tns:environment" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="environment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aDescription">
        <xs:sequence>
          <xs:element name="domainID" type="xs:long" />
          <xs:element name="x" type="xs:long" />
          <xs:element name="y" type="xs:long" />
          <xs:element name="timestampCreated" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getDataCapturersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:aCaptureData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DAOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="login">
    <xs:sequence>
      <xs:element minOccurs="0" name="a_name" type="xs:string" />
      <xs:element minOccurs="0" name="a_password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="snapShots">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="snapShotsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:snapshot" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="snapshot">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aData">
        <xs:sequence>
          <xs:element minOccurs="0" name="uri" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getDomains">
    <xs:sequence>
      <xs:element minOccurs="0" name="a_user" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDomainsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:domain" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="domain">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aDescription">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="sensorChannels">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="sensorChannelsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:sensorChannel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sensorChannel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aCaptureData">
        <xs:sequence>
          <xs:element name="channelNum" type="xs:int" />
          <xs:element minOccurs="0" name="sensorMetricTypeName" type="xs:string" />
          <xs:element minOccurs="0" name="sensorTypeName" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getEnvironments">
    <xs:sequence>
      <xs:element minOccurs="0" name="a_domain" type="tns:domain" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEnvironmentsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:environment" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="measurements">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="measurementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:measurement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="measurement">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aData">
        <xs:sequence>
          <xs:element name="measurement" type="xs:double" />
          <xs:element name="sensor_id" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="noteTakers">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="noteTakersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:noteTaker" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="noteTaker">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:aCaptureData">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getCurrentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="a_iCaptureData" type="tns:aCaptureData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCurrentDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:aData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCurrentSensorRangesForEnvironment">
    <xs:sequence>
      <xs:element name="a_envID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCurrentSensorRangesForEnvironmentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sensorRange" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCurrentSensorRanges">
    <xs:sequence>
      <xs:element minOccurs="0" name="a_iCurrentSensorRanges" type="tns:aDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCurrentSensorRangesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sensorRange" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDataCaptureData">
    <xs:sequence>
      <xs:element minOccurs="0" name="a_iCaptureData" type="tns:aCaptureData" />
      <xs:element name="a_startTimestamp" type="xs:long" />
      <xs:element name="a_stopTimestamp" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDataCaptureDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:aData" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>